general {
    hide_cursor = true
}

background {
    monitor =
    path = {{ joinPath .chezmoi.homeDir ".local/share/backgrounds/hyprland-selected.png" }}
    blur_passes = 2
    blur_size = 6
}

input-field {
    monitor =
    size = 320, 54
    outline_thickness = 1
    dots_size = 0.22
    dots_spacing = 0.25
    outer_color = rgb(75715e)
    inner_color = rgba(272822dd)
    font_color = rgb(f8f8f2)
    fade_on_empty = false
    placeholder_text = <i>Password…</i>
    fail_text = <i>$FAIL</i>
    position = 0, -40
    halign = center
    valign = center
}

label {
    monitor =
    text = cmd[update:1000] date +"%H:%M"
    color = rgb(f8f8f2)
    font_size = 54
    font_family = M+ 1p Bold
    position = 0, 90
    halign = center
    valign = center
}
