configuration {
    font: "Roboto 13";
    show-icons: true;
    icon-theme: "MacTahoe-dark";
    display-drun: "  ";
    drun-display-format: "{name}";
    disable-history: false;
}

* {
    background: #00000070;
    background-alt: #00000000;
    background-bar: #f2f2f215;
    foreground: #f2f2f2ee;
    accent: #ffffff66;
}

window {
    transparency: "real";
    background-color: @background;
    text-color: @foreground;
    border: 0px;
    border-radius: 0px;
    fullscreen: true;
}

prompt {
    enabled: true;
    padding: 0.30% 1% 0% -0.5%;
    background-color: @background-alt;
    text-color: @foreground;
}

entry {
    background-color: @background-alt;
    text-color: @foreground;
    placeholder-color: @foreground;
    expand: true;
    placeholder: "Search";
    padding: 0.10% 0% 0% 0%;
}

inputbar {
    children: [ prompt, entry ];
    background-color: @background-bar;
    text-color: @foreground;
    expand: false;
    border: 0.1%;
    border-radius: 6px;
    border-color: @accent;
    margin: 0% 30% 0% 30%;
    padding: 1%;
}

listview {
    background-color: @background-alt;
    columns: 7;
    lines: 4;
    spacing: 2%;
    cycle: false;
    dynamic: true;
}

mainbox {
    background-color: @background-alt;
    children: [ inputbar, listview ];
    spacing: 8%;
    padding: 10% 8.5% 10% 8.5%;
}

element {
    background-color: @background-alt;
    text-color: @foreground;
    orientation: vertical;
    padding: 2.5% 0% 2.5% 0%;
}

element-icon {
    background-color: @background-alt;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    size: 81px;
}

element-text {
    background-color: @background-alt;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    margin: 0.5% 0.5% -0.5% 0.5%;
}

element selected {
    background-color: @background-bar;
    text-color: @foreground;
    border: 1px;
    border-radius: 8px;
    border-color: @accent;
}
